<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @calendar.user_id %>
</p>

<p>
  <b>Day:</b>
  <%= @calendar.day %>
</p>

<p>
  <b>Month:</b>
  <%= @calendar.month %>
</p>

<p>
  <b>Year:</b>
  <%= @calendar.year %>
</p>

<p>
  <b>Event:</b>
  <%= @calendar.event_id %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
