<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @workout.created_by %>
</p>

<p>
  <b>Details:</b>
  <%= @workout.details %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
